.container1{
    display:Flex; 
    justify-content: space-between;
    font-size: 13px; 
    color:rgb(58,58,58);
}

.container1 > div{
    display: flex;
    width: 50%;
}


.spantwo{
   text-align: left;
}

.keydiv{
    width: 25%;

}

.valuediv{
    width: 45%;
}

