form > div{
    width: 50%;
    
    
}

.container{
    margin-top: -40px;
}
form{
    display: flex;
    justify-content:space-between

}
.p{
    position: relative;
    bottom: 5%;
    margin-left: 10px;
}

.forminput{
    height: 35px;
    width: 90%;
    margin: 5px;
    border: 1.3px solid rgb(203,203,203);
    border-radius: 4px;
    padding-left: 1rem;
}


 @media only screen and (max-width: 600px) {
    form{
        display: block;
    }
    form > div{
        width: 90%;
    }
    .forminput{
        height: 35px;
        width: 100%;
        margin: 5px;
        border: 1.3px solid rgb(203,203,203);
        border-radius: 4px;
        padding-left: 1rem;
    }
    .span{
        font-size: 11px;
    }
    .container{
        height: 100%;
        width: 100%;
        overflow: scroll;
    }
  } 
